<div class="menu" {{bind-attr class="controller.menuVisible:visible"}}>
	<h3>menu</h3>
	<ul class="nav nav-pills nav-stacked">
		<li>{{#link-to 'index'}}home{{/link-to}}</a></li>
		<li>{{#link-to 'events'}}events{{/link-to}}</a></li>
		<li>{{#link-to 'acts'}}acts{{/link-to}}</a></li>
	</ul>
</div>
<header id="header" class="navbar navbar-inverse">
	<a {{action toggleMenu}} class="btn">
    	<i class="icon-reorder"></i> Menu
	</a>
</header>
{{outlet}}
